In [1]:
#Import Libraries that we may need for the project
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
pd.options.mode.chained_assignment = None  # default='warn'
#import the csv dataset

price = pd.read_excel("Vogue CPHAr detail 93022.xlsm", sheet_name=None)

cost=price["Cost"]
detail=price["detail"]

In [212]:
detail['itemqtyd'] =detail['ITEM'] +' '+ detail['QTYD'].map(str)
print(detail['itemqtyd'])

0       TADALAFIL 20 MG TABLET 30
1       TADALAFIL 20 MG TABLET 90
2       TADALAFIL 20 MG TABLET 90
3      SILDENAFIL 50 MG TABLET 12
4        TADALAFIL 5 MG TABLET 90
                  ...
223      TADALAFIL 5 MG TABLET 90
224     TADALAFIL 20 MG TABLET 30
225     TADALAFIL 20 MG TABLET 12
226     TADALAFIL 20 MG TABLET 90
227     TADALAFIL 10 MG TABLET 60
Name: itemqtyd, Length: 228, dtype: object

In [213]:
#remove extra space
detail['a']= detail['itemqtyd'].str.split()
detail['a']

0       [TADALAFIL, 20, MG, TABLET, 30]
1       [TADALAFIL, 20, MG, TABLET, 90]
2       [TADALAFIL, 20, MG, TABLET, 90]
3      [SILDENAFIL, 50, MG, TABLET, 12]
4        [TADALAFIL, 5, MG, TABLET, 90]
                     ...
223      [TADALAFIL, 5, MG, TABLET, 90]
224     [TADALAFIL, 20, MG, TABLET, 30]
225     [TADALAFIL, 20, MG, TABLET, 12]
226     [TADALAFIL, 20, MG, TABLET, 90]
227     [TADALAFIL, 10, MG, TABLET, 60]
Name: a, Length: 228, dtype: object

In [214]:
detail['a'][detail['a'].apply(lambda x: len(x)==4)]

8     [SILDENAFIL, TAB, 100MG, 30]
18    [SILDENAFIL, TAB, 100MG, 30]
34    [SILDENAFIL, TAB, 100MG, 60]
39      [TADALAFIL, TAB, 10MG, 60]
45    [SILDENAFIL, TAB, 100MG, 30]
46      [TADALAFIL, TAB, 20MG, 12]
47      [TADALAFIL, TAB, 20MG, 30]
55    [SILDENAFIL, TAB, 100MG, 16]
99      [TADALAFIL, TAB, 20MG, 30]
Name: a, dtype: object

In [215]:
for i in detail['a']:
    if len(i)==4:
        i[1],i[2]=i[2],i[1]
        i[1]=i[1][:-2],i[1][-2:]
        i[2]="TABLET"

In [159]:
detail['a'][46]

['TADALAFIL', ('20', 'MG'), 'TABLET', '12']

In [216]:
def try_join(l):
    try:
        return ' '.join(map(str, l))
    except TypeError:
        return np.nan

In [217]:
detail['a']=[ try_join(l) for l in detail['a']]
detail['a']

0       TADALAFIL 20 MG TABLET 30
1       TADALAFIL 20 MG TABLET 90
2       TADALAFIL 20 MG TABLET 90
3      SILDENAFIL 50 MG TABLET 12
4        TADALAFIL 5 MG TABLET 90
                  ...
223      TADALAFIL 5 MG TABLET 90
224     TADALAFIL 20 MG TABLET 30
225     TADALAFIL 20 MG TABLET 12
226     TADALAFIL 20 MG TABLET 90
227     TADALAFIL 10 MG TABLET 60
Name: a, Length: 228, dtype: object

In [162]:
detail['a'][46]

"TADALAFIL ('20', 'MG') TABLET 12"

In [218]:
detail['a']=detail['a'].str.replace('(','').str.replace(')','').str.replace(',','').str.replace("'",'')

In [219]:
detail['a']

0       TADALAFIL 20 MG TABLET 30
1       TADALAFIL 20 MG TABLET 90
2       TADALAFIL 20 MG TABLET 90
3      SILDENAFIL 50 MG TABLET 12
4        TADALAFIL 5 MG TABLET 90
                  ...
223      TADALAFIL 5 MG TABLET 90
224     TADALAFIL 20 MG TABLET 30
225     TADALAFIL 20 MG TABLET 12
226     TADALAFIL 20 MG TABLET 90
227     TADALAFIL 10 MG TABLET 60
Name: a, Length: 228, dtype: object

In [185]:
cost

                  With packsize  Unique ID    Cost
0    EZETIMIBE 10 MG TABLET 100  243818008   8.530
1    EZETIMIBE 10 MG TABLET 100  243818008   8.530
2    EZETIMIBE 10 MG TABLET 100  243818008   8.530
3    EZETIMIBE 10 MG TABLET 100  243818008   8.530
4    EZETIMIBE 10 MG TABLET 100  243818008   8.530
..                          ...        ...     ...
255    TADALAFIL 5 MG TABLET 90  256433992  20.043
256    TADALAFIL 5 MG TABLET 90  256433992  20.043
257    TADALAFIL 5 MG TABLET 90  256433992  20.043
258    TADALAFIL 5 MG TABLET 90  256433992  20.043
259    TADALAFIL 5 MG TABLET 90  256433992  20.043

[260 rows x 3 columns]

In [199]:
detail["TF"]= detail['a'].isin(cost['With packsize'])

In [203]:
detail["TF"]

0      True
1      True
2      True
3      True
4      True
       ...
223    True
224    True
225    True
226    True
227    True
Name: TF, Length: 228, dtype: bool

In [204]:
cost

                  With packsize  Unique ID    Cost
0    EZETIMIBE 10 MG TABLET 100  243818008   8.530
1    EZETIMIBE 10 MG TABLET 100  243818008   8.530
2    EZETIMIBE 10 MG TABLET 100  243818008   8.530
3    EZETIMIBE 10 MG TABLET 100  243818008   8.530
4    EZETIMIBE 10 MG TABLET 100  243818008   8.530
..                          ...        ...     ...
255    TADALAFIL 5 MG TABLET 90  256433992  20.043
256    TADALAFIL 5 MG TABLET 90  256433992  20.043
257    TADALAFIL 5 MG TABLET 90  256433992  20.043
258    TADALAFIL 5 MG TABLET 90  256433992  20.043
259    TADALAFIL 5 MG TABLET 90  256433992  20.043

[260 rows x 3 columns]

In [220]:
detail

,Start_dt,End_dt,Insurance,RX#,DATE,PATIENT,ITEM,QTYD,PRESCRIBER,Total_Submitted,Total_New_Rxs,Total_Refill_Rxs,Total_Rxs,Sum_new,Sum_ref,Sum_Total_Submitted,itemqtyd,a,TF
0,2022-09-01,2022-09-30,VOGUE MARKETING (CPHAR),2056817,2022-09-01,"HOCH (VG), LUCAS",TADALAFIL 20 MG TABLET,30,"THIMESCH, NICHOLAS",12.70,106,122,228,1996.43,2409.45,4405.88,TADALAFIL 20 MG TABLET 30,TADALAFIL 20 MG TABLET 30,True
1,2022-09-01,2022-09-30,VOGUE MARKETING (CPHAR),2056877,2022-09-01,"DORMAN (VG), BRUCE",TADALAFIL 20 MG TABLET,90,"BRADEN, ALBERT",18.10,106,122,228,1996.43,2409.45,4405.88,TADALAFIL 20 MG TABLET 90,TADALAFIL 20 MG TABLET 90,True
2,2022-09-01,2022-09-30,VOGUE MARKETING (CPHAR),2055271,2022-09-01,"LUDDY (VG), TIMOTHY",TADALAFIL 20 MG TABLET,90,"WATKINS, MARK",18.10,106,122,228,1996.43,2409.45,4405.88,TADALAFIL 20 MG TABLET 90,TADALAFIL 20 MG TABLET 90,True
3,2022-09-01,2022-09-30,VOGUE MARKETING (CPHAR),2049939,2022-09-01,"WALLS III (VG), JAMES",SILDENAFIL 50 MG TABLET,12,"WISNESKI, NATALIE",12.39,106,122,228,1996.43,2409.45,4405.88,SILDENAFIL 50 MG TABLET 12,SILDENAFIL 50 MG TABLET 12,True
4,2022-09-01,2022-09-30,VOGUE MARKETING (CPHAR),2005694,2022-09-01,"HEARD (VG), ROBERT",TADALAFIL 5 MG TABLET,90,"GANONG, KEVIN",30.04,106,122,228,1996.43,2409.45,4405.88,TADALAFIL 5 MG TABLET 90,TADALAFIL 5 MG TABLET 90,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,2022-09-01,2022-09-30,VOGUE MARKETING (CPHAR),2065610,2022-09-30,"DENTON (VG), GEORGE",TADALAFIL 5 MG TABLET,90,"KURDI, JUAN",30.04,106,122,228,1996.43,2409.45,4405.88,TADALAFIL 5 MG TABLET 90,TADALAFIL 5 MG TABLET 90,True
224,2022-09-01,2022-09-30,VOGUE MARKETING (CPHAR),2066227,2022-09-30,"BICKLEY (VG), BRUCE",TADALAFIL 20 MG TABLET,30,"CHUNG, TED",12.70,106,122,228,1996.43,2409.45,4405.88,TADALAFIL 20 MG TABLET 30,TADALAFIL 20 MG TABLET 30,True
225,2022-09-01,2022-09-30,VOGUE MARKETING (CPHAR),2065659,2022-09-30,"MCGUIRE (VG), THOMAS",TADALAFIL 20 MG TABLET,12,"PEDDINGHAUS, WOLF",11.08,106,122,228,1996.43,2409.45,4405.88,TADALAFIL 20 MG TABLET 12,TADALAFIL 20 MG TABLET 12,True
226,2022-09-01,2022-09-30,VOGUE MARKETING (CPHAR),2064736,2022-09-30,"BLOCK (VG), THOMAS",TADALAFIL 20 MG TABLET,90,"DAVIDSON, KEITH",18.10,106,122,228,1996.43,2409.45,4405.88,TADALAFIL 20 MG TABLET 90,TADALAFIL 20 MG TABLET 90,True
227,2022-09-01,2022-09-30,VOGUE MARKETING (CPHAR),2065009,2022-09-30,"CARTER (VG), VERNON",TADALAFIL 10 MG TABLET,60,"DELAPLANTE, NICHOLE",13.00,106,122,228,1996.43,2409.45,4405.88,TADALAFIL 10 MG TABLET 60,TADALAFIL 10 MG TABLET 60,True

In [221]:
pd.merge(detail,cost,how='left',left_on='a',right_on='With packsize')

,Start_dt,End_dt,Insurance,RX#,DATE,PATIENT,ITEM,QTYD,PRESCRIBER,Total_Submitted,...,Total_Rxs,Sum_new,Sum_ref,Sum_Total_Submitted,itemqtyd,a,TF,With packsize,Unique ID,Cost
0,2022-09-01,2022-09-30,VOGUE MARKETING (CPHAR),2056817,2022-09-01,"HOCH (VG), LUCAS",TADALAFIL 20 MG TABLET,30,"THIMESCH, NICHOLAS",12.7,...,228,1996.43,2409.45,4405.88,TADALAFIL 20 MG TABLET 30,TADALAFIL 20 MG TABLET 30,True,TADALAFIL 20 MG TABLET 30,256433951,2.7
1,2022-09-01,2022-09-30,VOGUE MARKETING (CPHAR),2056817,2022-09-01,"HOCH (VG), LUCAS",TADALAFIL 20 MG TABLET,30,"THIMESCH, NICHOLAS",12.7,...,228,1996.43,2409.45,4405.88,TADALAFIL 20 MG TABLET 30,TADALAFIL 20 MG TABLET 30,True,TADALAFIL 20 MG TABLET 30,256433951,2.7
2,2022-09-01,2022-09-30,VOGUE MARKETING (CPHAR),2056817,2022-09-01,"HOCH (VG), LUCAS",TADALAFIL 20 MG TABLET,30,"THIMESCH, NICHOLAS",12.7,...,228,1996.43,2409.45,4405.88,TADALAFIL 20 MG TABLET 30,TADALAFIL 20 MG TABLET 30,True,TADALAFIL 20 MG TABLET 30,256433951,2.7
3,2022-09-01,2022-09-30,VOGUE MARKETING (CPHAR),2056817,2022-09-01,"HOCH (VG), LUCAS",TADALAFIL 20 MG TABLET,30,"THIMESCH, NICHOLAS",12.7,...,228,1996.43,2409.45,4405.88,TADALAFIL 20 MG TABLET 30,TADALAFIL 20 MG TABLET 30,True,TADALAFIL 20 MG TABLET 30,256433951,2.7
4,2022-09-01,2022-09-30,VOGUE MARKETING (CPHAR),2056817,2022-09-01,"HOCH (VG), LUCAS",TADALAFIL 20 MG TABLET,30,"THIMESCH, NICHOLAS",12.7,...,228,1996.43,2409.45,4405.88,TADALAFIL 20 MG TABLET 30,TADALAFIL 20 MG TABLET 30,True,TADALAFIL 20 MG TABLET 30,256433951,2.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3977,2022-09-01,2022-09-30,VOGUE MARKETING (CPHAR),2064736,2022-09-30,"BLOCK (VG), THOMAS",TADALAFIL 20 MG TABLET,90,"DAVIDSON, KEITH",18.1,...,228,1996.43,2409.45,4405.88,TADALAFIL 20 MG TABLET 90,TADALAFIL 20 MG TABLET 90,True,TADALAFIL 20 MG TABLET 90,256433995,8.1
3978,2022-09-01,2022-09-30,VOGUE MARKETING (CPHAR),2064736,2022-09-30,"BLOCK (VG), THOMAS",TADALAFIL 20 MG TABLET,90,"DAVIDSON, KEITH",18.1,...,228,1996.43,2409.45,4405.88,TADALAFIL 20 MG TABLET 90,TADALAFIL 20 MG TABLET 90,True,TADALAFIL 20 MG TABLET 90,256433995,8.1
3979,2022-09-01,2022-09-30,VOGUE MARKETING (CPHAR),2065009,2022-09-30,"CARTER (VG), VERNON",TADALAFIL 10 MG TABLET,60,"DELAPLANTE, NICHOLE",13.0,...,228,1996.43,2409.45,4405.88,TADALAFIL 10 MG TABLET 60,TADALAFIL 10 MG TABLET 60,True,TADALAFIL 10 MG TABLET 60,256433956,3.0
3980,2022-09-01,2022-09-30,VOGUE MARKETING (CPHAR),2065009,2022-09-30,"CARTER (VG), VERNON",TADALAFIL 10 MG TABLET,60,"DELAPLANTE, NICHOLE",13.0,...,228,1996.43,2409.45,4405.88,TADALAFIL 10 MG TABLET 60,TADALAFIL 10 MG TABLET 60,True,TADALAFIL 10 MG TABLET 60,256433956,3.0
3981,2022-09-01,2022-09-30,VOGUE MARKETING (CPHAR),2065009,2022-09-30,"CARTER (VG), VERNON",TADALAFIL 10 MG TABLET,60,"DELAPLANTE, NICHOLE",13.0,...,228,1996.43,2409.45,4405.88,TADALAFIL 10 MG TABLET 60,TADALAFIL 10 MG TABLET 60,True,TADALAFIL 10 MG TABLET 60,256433956,3.0

In [205]:
detail['actualCost'] = cost['Cost'][detail['a'].isin(cost['With packsize'])]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).